In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# df = pd.read_csv("/content/gdrive/My Drive/tweets.csv")
df = pd.read_csv("/content/gdrive/My Drive/ribeiroDatasetNew/tweets.csv")

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
len(df['user_id'].unique())

In [ ]:
 #column of all the tweet id's
tweet_id = df['tweet_id']

In [ ]:
#column of the tweets id's original tweet's of the retweets
rt_id = df['rt_status_id'].dropna().astype(np.int64)

In [ ]:
print(len(tweet_id))
print(len(rt_id))

11793904
4327445

In [ ]:
tweet_set = set(tweet_id)
rt_set = set(rt_id)

In [ ]:
print(len(tweet_set))
print(len(rt_set))

11793904
3152844

In [ ]:
inter_sets = tweet_set.intersection(rt_set)

In [ ]:
print(len(inter_sets))

276867

In [ ]:
# intersect = rt_id.isin(tweet_id)

In [ ]:
# intersect.value_counts()

In [ ]:
# print(len(intersect))