In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\Output\\file1-10.csv")

In [3]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,qt_rt,rt_flag,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity
0,4746709454,just_jusss,911477065328631809,"Having a strict dad, if I ask to go out one we...",1.506159e+09,1.0,0.0,False,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,0.052305,0.002346
1,4746709454,just_jusss,911399501264384001,Lookin at all these couples like MBNðŸ¤§ but then...,1.506140e+09,2.0,0.0,False,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,0.068171,0.003433
2,4746709454,just_jusss,911343372282900480,Being a senior kinda sucks when most of your f...,1.506127e+09,3.0,0.0,False,NaN,NaN,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,0.518691,0.023787
3,773711528398848000,CassandraCohan,923729474851622914,@tinyboxtim__ @tyleroakley LMAOOOO,1.509076e+09,0.0,0.0,True,923711258649681925,1.255877e+09,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,773711528398848000,CassandraCohan,923729371235586049,@periwinkledink So pretty,1.509076e+09,1.0,0.0,True,923705106264027136,3.434322e+09,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,0.010681,0.002117

In [4]:
len(df)

7466458

In [5]:
df['Toxicity'].isna().sum()
df['Severe Toxicity'].isna().sum()

598069

In [6]:
(df['rt_flag'] == True).sum()

0

In [7]:
df = df.dropna(subset=['Toxicity'])
print(len(df))

6868389

In [8]:
df['NewDateFormat'] = pd.to_datetime(df['tweet_creation'], unit='s')

In [9]:
df_new = df[(df['tweet_creation']>1483228799) & (df['tweet_creation']<=1514764799)]

In [10]:
df_new.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_flag,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat
0,4746709454,just_jusss,911477065328631809,"Having a strict dad, if I ask to go out one we...",1.506159e+09,1.0,0.0,False,NaN,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,0.052305,0.002346,2017-09-23 09:27:21
1,4746709454,just_jusss,911399501264384001,Lookin at all these couples like MBNðŸ¤§ but then...,1.506140e+09,2.0,0.0,False,NaN,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,0.068171,0.003433,2017-09-23 04:19:08
2,4746709454,just_jusss,911343372282900480,Being a senior kinda sucks when most of your f...,1.506127e+09,3.0,0.0,False,NaN,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,0.518691,0.023787,2017-09-23 00:36:06
4,773711528398848000,CassandraCohan,923729371235586049,@periwinkledink So pretty,1.509076e+09,1.0,0.0,True,923705106264027136,3.434322e+09,...,False,NaN,NaN,NaN,NaN,NaN,NaN,0.010681,0.002117,2017-10-27 03:53:38
5,773711528398848000,CassandraCohan,923689995763843072,@readyforramos Itâ€™s 2017 we go to church and pray,1.509067e+09,3.0,0.0,True,923689936406044673,2.633570e+09,...,False,NaN,NaN,NaN,NaN,NaN,NaN,0.018975,0.001316,2017-10-27 01:17:10

In [11]:
len(df_new)

6610132

In [12]:
(df_new['rt_flag'] == True).sum()

0

In [13]:
# df_new.to_csv('tweetsConvereted2017_toxicPerspectiveScore.csv', index = False)