In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\ReibeiroDataset\\tweets.csv")

C:\Users\Aatman\AppData\Local\Temp\ipykernel_24100\2446964147.py:1: DtypeWarning: Columns (7,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\ReibeiroDataset\\tweets.csv")

In [4]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,qt_creation,qt_fav,qt_rt,rt_flag,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt
0,850859913244852224,NationalismXXI,919445178859053056,Women https://t.co/quXcjOq9na,1.508055e+09,0.0,0.0,False,NaN,NaN,...,1.508033e+09,274.0,148.0,False,NaN,NaN,NaN,NaN,NaN,NaN
1,850859913244852224,NationalismXXI,919441926021107712,Superjew https://t.co/cba5laEfKG,1.508054e+09,0.0,0.0,False,NaN,NaN,...,1.507908e+09,628.0,302.0,False,NaN,NaN,NaN,NaN,NaN,NaN
2,850859913244852224,NationalismXXI,919367819694927872,NaN,1.508037e+09,0.0,777.0,False,NaN,NaN,...,NaN,NaN,NaN,True,9.144992e+17,2.583248e+08,You want a quote to go viral? Retweet this one...,1.506879e+09,704.0,777.0
3,850859913244852224,NationalismXXI,919366633512226816,NaN,1.508040e+09,0.0,63.0,False,NaN,NaN,...,NaN,NaN,NaN,True,9.189423e+17,1.289955e+09,@CNN So when are u going to publish a jihadi s...,1.507939e+09,181.0,63.0
4,850859913244852224,NationalismXXI,919365144697860096,NaN,1.508040e+09,0.0,105.0,False,NaN,NaN,...,NaN,NaN,NaN,True,9.193076e+17,8.504084e+17,Fash the Nation Episode 92: Immoral High Groun...,1.508026e+09,212.0,105.0

In [5]:
df['tweet_text'].isna().sum()

4327446

In [6]:
len(df.index)

11793904

In [7]:
convDf = df.dropna(subset=['tweet_text'])

In [8]:
convDf['tweet_text'].isna().sum()

0

In [9]:
len(convDf.index)

7466458

In [12]:
convDf.to_csv("final_withoutNull.csv",index = False)