In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns

In [2]:
df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\ReibeiroDataset\\tweetsConvereted2017_toxicPerspectiveScore.csv")

In [3]:
df["week"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%U"))

In [39]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,week
0,4746709454,just_jusss,911477065328631809,"Having a strict dad, if I ask to go out one we...",1.506159e+09,1.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052305,0.002346,2017-09-23 09:27:21,38
1,4746709454,just_jusss,911399501264384001,Lookin at all these couples like MBNðŸ¤§ but then...,1.506140e+09,2.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.068171,0.003433,2017-09-23 04:19:08,38
2,4746709454,just_jusss,911343372282900480,Being a senior kinda sucks when most of your f...,1.506127e+09,3.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.518691,0.023787,2017-09-23 00:36:06,38
3,773711528398848000,CassandraCohan,923729371235586049,@periwinkledink So pretty,1.509076e+09,1.0,0.0,True,923705106264027136,3.434322e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.010681,0.002117,2017-10-27 03:53:38,43
4,773711528398848000,CassandraCohan,923689995763843072,@readyforramos Itâ€™s 2017 we go to church and pray,1.509067e+09,3.0,0.0,True,923689936406044673,2.633570e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.018975,0.001316,2017-10-27 01:17:10,43

In [45]:
print(df['rt_flag'].isnull().sum())
print(df['qt_flag'].isnull().sum())

0
0

In [40]:
df['rt_flag'].unique()

array([False])

In [46]:
df['qt_flag'].unique()

array([False,  True])

In [61]:
df['rt_text'].isnull().sum()

6610132

In [48]:
groupDf = df[['screen_name', 'Toxicity', 'Severe Toxicity', 'qt_flag', 'rt_flag', 'week']]

In [49]:
# groupDf2 = groupDf[(groupDf['qt_flag'] == False) & (groupDf['rt_flag'] == False)]
groupDf2 = groupDf[(groupDf['qt_flag'] == True)]

In [50]:
groupDf2.head()

        screen_name  Toxicity  Severe Toxicity  qt_flag  rt_flag week
54   CassandraCohan  0.061049         0.004597     True    False   43
121      alienkattt  0.029917         0.004768     True    False   41
133      alienkattt  0.024850         0.004044     True    False   38
138      alienkattt  0.005435         0.001421     True    False   36
141      alienkattt  0.048347         0.009537     True    False   36

In [51]:
unique_values = groupDf2['week'].unique()

In [52]:
unique_values.sort()

In [53]:
unique_values

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44'],
      dtype=object)

In [54]:
def avgToxicity(weekIn):
    weekDf = groupDf2[groupDf2['week'] == weekIn]
    return weekDf['Toxicity'].mean()

In [55]:
def numberOfUsers(weekIn):
    weekDf = groupDf2[groupDf2['week'] == weekIn]
    unique_count = weekDf['screen_name'].nunique()
    return int(unique_count)

In [56]:
# toxicity scores
for i in unique_values:
    print(round(avgToxicity(i),5))

0.04392
0.04473
0.0481
0.04679
0.05714
0.05308
0.0479
0.04629
0.04557
0.04326
0.04968
0.04592
0.05056
0.04534
0.05264
0.05165
0.04611
0.04694
0.04823
0.0511
0.05101
0.05869
0.05607
0.05081
0.05442
0.05608
0.0556
0.05559
0.05628
0.06106
0.05948
0.06393
0.07524
0.06817
0.06671
0.0678
0.06713
0.06937
0.07415
0.08104
0.0874
0.09531
0.11967
0.1355

In [57]:
#no of users
for i in unique_values:
    weekDf = groupDf2[groupDf2['week'] == i]
    unique_count = weekDf['screen_name'].nunique()
    print(unique_count)

364
490
485
570
621
639
662
676
771
830
868
918
999
967
894
1050
1212
1245
1379
1488
1629
1509
1827
2048
2296
2397
2257
2832
3135
3415
3613
3930
4601
5116
5754
6786
8298
9825
12082
14561
18745
25283
35250
7768