In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns

In [2]:
df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\ReibeiroDataset\\tweetsConvereted2017_toxicPerspectiveScore.csv")

In [3]:
df["month"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%m"))

In [4]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,month
0,4746709454,just_jusss,911477065328631809,"Having a strict dad, if I ask to go out one we...",1.506159e+09,1.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052305,0.002346,2017-09-23 09:27:21,09
1,4746709454,just_jusss,911399501264384001,Lookin at all these couples like MBNðŸ¤§ but then...,1.506140e+09,2.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.068171,0.003433,2017-09-23 04:19:08,09
2,4746709454,just_jusss,911343372282900480,Being a senior kinda sucks when most of your f...,1.506127e+09,3.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.518691,0.023787,2017-09-23 00:36:06,09
3,773711528398848000,CassandraCohan,923729371235586049,@periwinkledink So pretty,1.509076e+09,1.0,0.0,True,923705106264027136,3.434322e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.010681,0.002117,2017-10-27 03:53:38,10
4,773711528398848000,CassandraCohan,923689995763843072,@readyforramos Itâ€™s 2017 we go to church and pray,1.509067e+09,3.0,0.0,True,923689936406044673,2.633570e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.018975,0.001316,2017-10-27 01:17:10,10

In [5]:
df.columns

Index(['user_id', 'screen_name', 'tweet_id', 'tweet_text', 'tweet_creation',
       'tweet_fav', 'tweet_rt', 'rp_flag', 'rp_status', 'rp_user', 'qt_flag',
       'qt_status_id', 'qt_user_id', 'qt_text', 'qt_creation', 'qt_fav',
       'qt_rt', 'rt_flag', 'rt_status_id', 'rt_user_id', 'rt_text',
       'rt_creation', 'rt_fav', 'rt_rt', 'Toxicity', 'Severe Toxicity',
       'NewDateFormat', 'month'],
      dtype='object')

In [6]:
# userDf = df.groupby(['user_id'])

In [7]:
groupDf = df[['screen_name', 'Toxicity', 'Severe Toxicity',  'qt_flag', 'rt_flag','month']]

In [8]:
unique_values = groupDf['month'].unique()
unique_values.sort()

In [9]:
unique_values

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10'],
      dtype=object)

In [10]:
monthDf = groupDf[groupDf['month'] == "01"]

In [11]:
originalDf = monthDf[(monthDf['qt_flag'] == True) & (monthDf['rt_flag'] == False)]

In [12]:
originalDf['Toxicity'] = originalDf['Toxicity'] * 10
originalDf['Toxicity'] = (originalDf['Toxicity'].apply(np.ceil)) / 10

C:\Users\Aatman\AppData\Local\Temp\ipykernel_1612\1864900650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  originalDf['Toxicity'] = originalDf['Toxicity'] * 10
C:\Users\Aatman\AppData\Local\Temp\ipykernel_1612\1864900650.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  originalDf['Toxicity'] = (originalDf['Toxicity'].apply(np.ceil)) / 10

In [13]:
original_unique_values = originalDf['Toxicity'].unique()
original_unique_values.sort()

In [14]:
original_unique_values

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [15]:
def countUsers(input):
    tempDf = originalDf[originalDf['Toxicity'] == input]
    return tempDf['screen_name'].nunique()

In [16]:
for i in original_unique_values:
    print(countUsers(i))

1341
169
77
53
23
16
10
4
4
1