In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("/content/gdrive/My Drive/tweetsConvereted2017_toxicPerspectiveScore.csv")

In [4]:
df["month"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%m"))

In [5]:
groupDf = df[['user_id', 'Toxicity','qt_flag', 'rt_flag','month']]

In [6]:
groupDf['Toxicity'] = groupDf['Toxicity'] * 10
groupDf['Toxicity'] = (groupDf['Toxicity'].apply(np.ceil)) / 10

In [7]:
monthDf = groupDf[groupDf['month'] == "01"]

In [8]:
monthDf.head()

        user_id  Toxicity  qt_flag  rt_flag month
247  3239623496       0.2    False    False    01
248  3239623496       0.1    False    False    01
249  3239623496       0.1    False    False    01
250  3239623496       0.1    False    False    01
251  3239623496       0.3    False    False    01

In [9]:
def categorize_tweets(group):
    if (group['qt_flag'] == False).all() and (group['rt_flag'] == False).all():
        return 'o'
    elif (group['qt_flag'] == False).all() and (group['rt_flag'] == True).all():
        return 'r'
    elif (group['qt_flag'] == True).all() and (group['rt_flag'] == False).all():
        return 'q'
    elif ((group['qt_flag'] == False) & (group['rt_flag'] == True)).any() and ((group['qt_flag'] == False) & (group['rt_flag'] == False)).any():
        return 'o_r'
    elif ((group['qt_flag'] == True) & (group['rt_flag'] == False)).any() and ((group['qt_flag'] == False) & (group['rt_flag'] == False)).any():
        return 'o_q'
    elif ((group['qt_flag'] == True) & (group['rt_flag'] == True)).any() and ((group['qt_flag'] == False) & (group['rt_flag'] == False)).any():
        return 'q_r'
    else:
        return 'o_q_r'

In [10]:
userDf = monthDf.groupby('user_id').apply(categorize_tweets)

In [11]:
userDf.head()

user_id
633         o
24393     o_q
74523       o
690173      o
713263      o
dtype: object

In [ ]:
# creact a dict() - 
# original data - filter by month and user_id