In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns
import math

In [29]:
df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\ReibeiroDataset\\tweetsConvereted2017_toxicPerspectiveScore.csv")

In [30]:
# Parse the dates in the NewDateFormat column and extract the week number
df["week"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%U"))

In [31]:
df['Toxicity'].value_counts()[0]

13

In [32]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,week
0,4746709454,just_jusss,911477065328631809,"Having a strict dad, if I ask to go out one we...",1.506159e+09,1.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052305,0.002346,2017-09-23 09:27:21,38
1,4746709454,just_jusss,911399501264384001,Lookin at all these couples like MBNðŸ¤§ but then...,1.506140e+09,2.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.068171,0.003433,2017-09-23 04:19:08,38
2,4746709454,just_jusss,911343372282900480,Being a senior kinda sucks when most of your f...,1.506127e+09,3.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.518691,0.023787,2017-09-23 00:36:06,38
3,773711528398848000,CassandraCohan,923729371235586049,@periwinkledink So pretty,1.509076e+09,1.0,0.0,True,923705106264027136,3.434322e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.010681,0.002117,2017-10-27 03:53:38,43
4,773711528398848000,CassandraCohan,923689995763843072,@readyforramos Itâ€™s 2017 we go to church and pray,1.509067e+09,3.0,0.0,True,923689936406044673,2.633570e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.018975,0.001316,2017-10-27 01:17:10,43

In [33]:
groupDf = df[['screen_name', 'Toxicity', 'Severe Toxicity', 'week']]

In [34]:
unique_values = groupDf['week'].unique()
unique_values.sort()

In [35]:
unique_values

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44'],
      dtype=object)

In [36]:
weekDf = groupDf[groupDf['week'] == "01"]

In [37]:
weekDf['Toxicity'] = (weekDf['Toxicity'].round(10)) * 10

C:\Users\Aatman\AppData\Local\Temp\ipykernel_20696\4235672281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekDf['Toxicity'] = (weekDf['Toxicity'].round(10)) * 10

In [38]:
weekDf['Toxicity'] = (weekDf['Toxicity'].apply(np.ceil)) / 10

C:\Users\Aatman\AppData\Local\Temp\ipykernel_20696\167091622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekDf['Toxicity'] = (weekDf['Toxicity'].apply(np.ceil)) / 10

In [39]:
weekDf.head()

          screen_name  Toxicity  Severe Toxicity week
3722   N_TampaChamber       0.1         0.000532   01
3723   N_TampaChamber       0.1         0.000763   01
5293  itsjamesherring       0.4         0.353280   01
5294  itsjamesherring       0.1         0.002222   01
5295  itsjamesherring       0.2         0.011444   01

In [40]:
# weekDf['Toxicity'].value_counts()[0]
weekDf['Toxicity'].min()

0.1

In [46]:
tempDf = df[['screen_name', 'Toxicity', 'Severe Toxicity', 'week']]

In [48]:
tempDf['Toxicity'] = tempDf['Toxicity'] * 10
tempDf['Toxicity'] = (tempDf['Toxicity'].apply(np.ceil)) / 10

C:\Users\Aatman\AppData\Local\Temp\ipykernel_20696\731754026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf['Toxicity'] = tempDf['Toxicity'] * 10
C:\Users\Aatman\AppData\Local\Temp\ipykernel_20696\731754026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempDf['Toxicity'] = (tempDf['Toxicity'].apply(np.ceil)) / 10

In [49]:
tempDf['Toxicity'].value_counts()[0]

13

In [50]:
# def weightedSumToxicity(weekIn):
#     weekDf = groupDf[groupDf['week'] == weekIn]
#     weekDf['Toxicity'] = weekDf['Toxicity'].round(10) * 10
#     weekDf['Toxicity'] = (weekDf['Toxicity'].apply(np.ceil)) / 10
#     return weekDf['Toxicity'].sum().round(2)

In [51]:
# for i in unique_values:
#     print(weightedSumToxicity(i))