In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np
from datetime import datetime
import networkx as nx
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv("/content/gdrive/My Drive/tweetsConvereted2017_toxicPerspectiveScore.csv")

In [ ]:
G = nx.read_edgelist('/content/gdrive/My Drive/users.edgelist')

In [ ]:
df["week"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%U"))
df["month"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%m"))

In [ ]:
df["day"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").day)

In [ ]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,week,month,day
0,4746709454,just_jusss,911477065328631809,"Having a strict dad, if I ask to go out one we...",1.506159e+09,1.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,0.052305,0.002346,2017-09-23 09:27:21,38,09,23
1,4746709454,just_jusss,911399501264384001,Lookin at all these couples like MBNðŸ¤§ but then...,1.506140e+09,2.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,0.068171,0.003433,2017-09-23 04:19:08,38,09,23
2,4746709454,just_jusss,911343372282900480,Being a senior kinda sucks when most of your f...,1.506127e+09,3.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,0.518691,0.023787,2017-09-23 00:36:06,38,09,23
3,773711528398848000,CassandraCohan,923729371235586049,@periwinkledink So pretty,1.509076e+09,1.0,0.0,True,923705106264027136,3.434322e+09,...,NaN,NaN,NaN,NaN,0.010681,0.002117,2017-10-27 03:53:38,43,10,27
4,773711528398848000,CassandraCohan,923689995763843072,@readyforramos Itâ€™s 2017 we go to church and pray,1.509067e+09,3.0,0.0,True,923689936406044673,2.633570e+09,...,NaN,NaN,NaN,NaN,0.018975,0.001316,2017-10-27 01:17:10,43,10,27

In [ ]:
# df.loc[df['user_id']==2283058711]

In [ ]:
groupDf = df[['user_id', 'tweet_id', 'Toxicity', 'week']]

In [ ]:
weekDf = groupDf[groupDf['week']=="01"]

In [ ]:
weekDf.head()

                 user_id            tweet_id  Toxicity week
3722  714557249604227075  817006556692807680  0.004304   01
3723  714557249604227075  815559529727455232  0.007665   01
5293            20430045  817841996123541506  0.399880   01
5294            20430045  817742024879308801  0.028856   01
5295            20430045  817396068635774976  0.168519   01

In [ ]:
users_list = list(weekDf['user_id'].unique().astype(str))

In [ ]:
len(users_list)

2122

In [ ]:
G_week = G.subgraph(users_list)

In [ ]:
print(G_week.number_of_nodes())

2122

In [ ]:
user_toxicity_means = []
neighbor_toxicity_means = []

In [ ]:
for node in G.nodes():
    neighbors = list(G.neighbors(node))
    neighbor_toxicity_mean = groupDf.loc[groupDf['user_id'].isin(neighbors), 'Toxicity'].mean()
    if pd.isna(neighbor_toxicity_mean):
      neighbor_toxicity_mean = 0
    user_toxicity_mean = groupDf.loc[groupDf['user_id'] == node, 'Toxicity'].mean()
    if pd.isna(user_toxicity_mean):
      user_toxicity_mean = 0
  
    user_toxicity_means.append(user_toxicity_mean)
    neighbor_toxicity_means.append(neighbor_toxicity_mean)

In [ ]:
# for node in G_week.nodes():
#     neighbors = list(G_week.neighbors(node))
#     neighbor_toxicity_mean = weekDf.loc[weekDf['user_id'].isin(neighbors), 'Toxicity'].mean()
#     if pd.isna(neighbor_toxicity_mean):
#       neighbor_toxicity_mean = 0
#     user_toxicity_mean = weekDf.loc[weekDf['user_id'] == node, 'Toxicity'].mean()
#     if pd.isna(user_toxicity_mean):
#       user_toxicity_mean = 0
  
#     user_toxicity_means.append(user_toxicity_mean)
#     neighbor_toxicity_means.append(neighbor_toxicity_mean)

In [ ]:
# user_id = '20430045'
# neighbors = list(G_week.neighbors(user_id))
# neighbor_toxicity_mean = weekDf.loc[weekDf['user_id'].isin(neighbors), 'Toxicity'].mean()
# if pd.isna(neighbor_toxicity_mean):
#     neighbor_toxicity_mean = 0
# user_toxicity_mean = weekDf.loc[weekDf['user_id'] == user_id, 'Toxicity'].mean()
# if pd.isna(user_toxicity_mean):
#     user_toxicity_mean = 0