In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("/content/gdrive/My Drive/tweetsConvereted2017_toxicPerspectiveScore.csv")

In [4]:
df["month"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%m"))

In [5]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,month
0,4746709454,just_jusss,911477065328631809,"Having a strict dad, if I ask to go out one we...",1.506159e+09,1.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052305,0.002346,2017-09-23 09:27:21,09
1,4746709454,just_jusss,911399501264384001,Lookin at all these couples like MBNðŸ¤§ but then...,1.506140e+09,2.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.068171,0.003433,2017-09-23 04:19:08,09
2,4746709454,just_jusss,911343372282900480,Being a senior kinda sucks when most of your f...,1.506127e+09,3.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.518691,0.023787,2017-09-23 00:36:06,09
3,773711528398848000,CassandraCohan,923729371235586049,@periwinkledink So pretty,1.509076e+09,1.0,0.0,True,923705106264027136,3.434322e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.010681,0.002117,2017-10-27 03:53:38,10
4,773711528398848000,CassandraCohan,923689995763843072,@readyforramos Itâ€™s 2017 we go to church and pray,1.509067e+09,3.0,0.0,True,923689936406044673,2.633570e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.018975,0.001316,2017-10-27 01:17:10,10

In [6]:
groupDf = df[['user_id', 'Toxicity','qt_flag', 'rt_flag','month']]

In [7]:
groupDf['Toxicity'] = groupDf['Toxicity'] * 10
groupDf['Toxicity'] = (groupDf['Toxicity'].apply(np.ceil)) / 10

In [8]:
groupDf.head()

              user_id  Toxicity  qt_flag  rt_flag month
0          4746709454       0.1    False    False    09
1          4746709454       0.1    False    False    09
2          4746709454       0.6    False    False    09
3  773711528398848000       0.1    False    False    10
4  773711528398848000       0.1    False    False    10

In [10]:
groupDf['Toxicity'].unique()

array([0.1, 0.6, 0.5, 0.3, 0.2, 0.8, 0.7, 0.4, 0.9, 1. , 0. ])

In [12]:
groupDf['Toxicity'].value_counts()

0.1    5017878
0.2     670714
0.3     315118
0.4     234464
0.5     118229
0.7      73567
0.6      72607
0.8      57348
0.9      36135
1.0      14059
0.0         13
Name: Toxicity, dtype: int64

In [13]:
monthDf = groupDf[groupDf['month'] == 1]

In [9]:
'''
I have a data frame in python pandas with the following columns.
groupDf = df[['user_id', 'Toxicity','qt_flag', 'rt_flag','month']]

The user_id contains the id's of all the users
The Toxicity contains float values between 0-1
The qt_flag says whether the tweet is a quoted tweet or not. The values of the column are True and False. 
The rt_flag says whether the tweet is a retweet or not. The values of the column are True and False. 
The month contains the number of month in which the tweet was created. The range of the values in month is from 1-10

I am categorizing the tweets in 3 categories. 
1) original
2) retweet
3) quoted tweet

A tweet is original if qt_flag = False and rt_flag = False
A tweet is retweet if qt_flag = False and rt_flag = True
A tweet is quoted tweet if qt_flag = True and rt_flag = False

A user has multiple tweets in my dataset, each user will have done different types of tweets. I want to count how many users have for each month. I am listing the categories below:
1) original tweets - i.e all the tweets done by the user will only be original
2) retweets - i.e all the tweets done by the user will only be quoted.
3) quoted - i.e all the tweets done by the user will only be quoted. 
4) original and retweet - i.e all the tweets done by the user will only be of the type original and retweet
5) original and quoted - i.e all the tweets done by the user will only be of the type original and quoted.
6) quoted and retweet - i.e all the tweets done by the user will only be of the type quoted and retweet
7) original, quoted and retweet - i.e. i.e all the tweets done by the user will only be of the type original and retweet

This is how I want the categorization to be. For example, if 
- user 1 has 10 tweets and out of which, 2 tweets are quoted and 8 tweets are original, then the user would go into the category of 'original and quoted'
- if user 2 has 7 tweets out of which 3 are retweet and 4 are quoted, then the user would go into the category of 'quoted and retweet'
- if user 3 has 20 tweets out of which 10 tweets are original, 5 are retweet and 5 are quoted, then the user would go into the category of 'original, quoted and retweet'
- if user 4 has 15 tweets out of which 10 retweets and 5 quoted tweets, then the user would go into the category of 'quoted and retweet'

Now I want a specific plot for each month. I have 10 months in my dataframe. 
So lets say I want to build a plot for month 1
I would first filter the dataframe for month 1. 
The plot that I want is 
on x axis - Toxicity, specifically buckets of toxicity (like 0-.1, .1-.2 and so on)
on y axis - the number of users for all 7 categories. 

so what should the plot look like, I will talk about in more detail. 
lets say on the x axis, we look at the first bucket of toxicity i.e 0-0.1 which means for all the tweets of toxicity between the range of 0-0.1 will be plotted on the first bucket, and on the y axis, there will be the number of unique users for all the 7 combinations. 
so each plot would have 7 combinations plotted on the graph with 7 different colors.

'''

"\nI have a data frame in python pandas with the following columns.\ngroupDf = df[['user_id', 'Toxicity','qt_flag', 'rt_flag','month']]\n\nThe user_id contains the id's of all the users\nThe Toxicity contains float values between 0-1\nThe qt_flag says whether the tweet is a quoted tweet or not. The values of the column are True and False. \nThe rt_flag says whether the tweet is a retweet or not. The values of the column are True and False. \nThe month contains the number of month in which the tweet was created. The range of the values in month is from 1-10\n\nI am categorizing the tweets in 3 categories. \n1) original\n2) retweet\n3) quoted tweet\n\nA tweet is original if qt_flag = False and rt_flag = False\nA tweet is retweet if qt_flag = False and rt_flag = True\nA tweet is quoted tweet if qt_flag = True and rt_flag = False\n\nA user has multiple tweets in my dataset, each user will have done different types of tweets. I want to count how many users have for each month. I am listing the categories below:\n1) original tweets - i.e all the tweets done by the user will only be original\n2) retweets - i.e all the tweets done by the user will only be quoted.\n3) quoted - i.e all the tweets done by the user will only be quoted. \n4) original and retweet - i.e all the tweets done by the user will only be of the type original and retweet\n5) original and quoted - i.e all the tweets done by the user will only be of the type original and quoted.\n6) quoted and retweet - i.e all the tweets done by the user will only be of the type quoted and retweet\n7) original, quoted and retweet - i.e. i.e all the tweets done by the user will only be of the type original and retweet\n\nThis is how I want the categorization to be. For example, if \n- user 1 has 10 tweets and out of which, 2 tweets are quoted and 8 tweets are original, then the user would go into the category of 'original and quoted'\n- if user 2 has 7 tweets out of which 3 are retweet and 4 are quoted, then the user would go into the category of 'quoted and retweet'\n- if user 3 has 20 tweets out of which 10 tweets are original, 5 are retweet and 5 are quoted, then the user would go into the category of 'original, quoted and retweet'\n- if user 4 has 15 tweets out of which 10 retweets and 5 quoted tweets, then the user would go into the category of 'quoted and retweet'\n\nNow I want a specific plot for each month. I have 10 months in my dataframe. \nSo lets say I want to build a plot for month 1\nI would first filter the dataframe for month 1. \nThe plot that I want is \non x axis - Toxicity, specifically buckets of toxicity (like 0-.1, .1-.2 and so on)\non y axis - the number of users for all 7 categories. \n\nso what should the plot look like, I will talk about in more detail. \nlets say on the x axis, we look at the first bucket of toxicity i.e 0-0.1 which means for all the tweets of toxicity between the range of 0-0.1 will be plotted on the first bucket, and on the y axis, there will be the number of unique users for all the 7 combinations. \nso each plot would have 7 combinations plotted on the graph with 7 different colors.\n\n"