In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns

In [3]:
df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\ReibeiroDataset\\tweetsConvereted2017_toxicPerspectiveScore.csv")

In [4]:
# Parse the dates in the NewDateFormat column and extract the week number
df["week"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%U"))

In [5]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,week
0,4746709454,just_jusss,911477065328631809,"Having a strict dad, if I ask to go out one we...",1.506159e+09,1.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052305,0.002346,2017-09-23 09:27:21,38
1,4746709454,just_jusss,911399501264384001,Lookin at all these couples like MBNðŸ¤§ but then...,1.506140e+09,2.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.068171,0.003433,2017-09-23 04:19:08,38
2,4746709454,just_jusss,911343372282900480,Being a senior kinda sucks when most of your f...,1.506127e+09,3.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.518691,0.023787,2017-09-23 00:36:06,38
3,773711528398848000,CassandraCohan,923729371235586049,@periwinkledink So pretty,1.509076e+09,1.0,0.0,True,923705106264027136,3.434322e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.010681,0.002117,2017-10-27 03:53:38,43
4,773711528398848000,CassandraCohan,923689995763843072,@readyforramos Itâ€™s 2017 we go to church and pray,1.509067e+09,3.0,0.0,True,923689936406044673,2.633570e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,0.018975,0.001316,2017-10-27 01:17:10,43

In [18]:
groupDf = df[['screen_name', 'Toxicity', 'Severe Toxicity', 'qt_flag', 'rt_flag', 'week']]

In [19]:
groupDf.head()

      screen_name  Toxicity  Severe Toxicity  qt_flag  rt_flag week
0      just_jusss  0.052305         0.002346    False    False   38
1      just_jusss  0.068171         0.003433    False    False   38
2      just_jusss  0.518691         0.023787    False    False   38
3  CassandraCohan  0.010681         0.002117    False    False   43
4  CassandraCohan  0.018975         0.001316    False    False   43

In [20]:
groupDf2 = groupDf[(groupDf['qt_flag'] == False) & (groupDf['rt_flag'] == False)]

In [21]:
len(groupDf2)

5751596

In [22]:
groupDf2.head()

      screen_name  Toxicity  Severe Toxicity  qt_flag  rt_flag week
0      just_jusss  0.052305         0.002346    False    False   38
1      just_jusss  0.068171         0.003433    False    False   38
2      just_jusss  0.518691         0.023787    False    False   38
3  CassandraCohan  0.010681         0.002117    False    False   43
4  CassandraCohan  0.018975         0.001316    False    False   43

In [64]:
weekDf = groupDf2[groupDf2['week'] == "06"]

In [65]:
len(weekDf)

9434

In [66]:
weekDf.head()

    screen_name  Toxicity  Severe Toxicity  qt_flag  rt_flag week
239  alienkattt  0.027324         0.002518    False    False   06
240  alienkattt  0.588517         0.033214    False    False   06
241  alienkattt  0.065797         0.003052    False    False   06
242  alienkattt  0.227128         0.019224    False    False   06
243  alienkattt  0.003173         0.000529    False    False   06

In [67]:
len(weekDf['screen_name'].unique())

2872

In [68]:
round(weekDf['Toxicity'].mean(),5)

0.07335