In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns

In [2]:
df = pd.read_csv("D:\\Study\\UG Thesis\\Datasets\\ReibeiroDataset\\tweetsConvereted2017_toxicPerspectiveScore.csv")

In [3]:
# Parse the dates in the NewDateFormat column and extract the week number
df["month"] = df["NewDateFormat"].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").strftime("%m"))
df = df.sort_values(by=['month'])

In [4]:
df.head()

,user_id,screen_name,tweet_id,tweet_text,tweet_creation,tweet_fav,tweet_rt,rp_flag,rp_status,rp_user,...,rt_status_id,rt_user_id,rt_text,rt_creation,rt_fav,rt_rt,Toxicity,Severe Toxicity,NewDateFormat,month
3282032,168241998,megandgreer,821889970415763456,I can't wait!!! üôåüèª #kyleandmegan https://t.co/...,1.484796e+09,2.0,0.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.014451,0.001688,2017-01-19 03:20:13,01
1421758,30313925,ObamaWhiteHouse,819023534882029568,"""Of all that I‚Äôve done in my life, I‚Äôm most pr...",1.484113e+09,26391.0,9144.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.018975,0.001383,2017-01-11 05:30:02,01
1421757,30313925,ObamaWhiteHouse,819026046561427456,".@POTUS to @VP: ""I've gained a brother...your ...",1.484113e+09,8300.0,2590.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.013948,0.001011,2017-01-11 05:40:00,01
1421756,30313925,ObamaWhiteHouse,819027304252702721,"""Our democracy is threatened whenever we take ...",1.484114e+09,4484.0,1528.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.043647,0.001497,2017-01-11 05:45:00,01
1421755,30313925,ObamaWhiteHouse,819028562871103488,"‚ÄúFor all our outward differences, we in fact a...",1.484114e+09,9203.0,3323.0,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.018598,0.001140,2017-01-11 05:50:00,01

In [6]:
groupDf = df[['screen_name', 'Toxicity', 'Severe Toxicity', 'month']]

In [68]:
monthDf = groupDf[groupDf['month'] == "01"]

In [69]:
monthDf['Toxicity'] = monthDf['Toxicity'].round(decimals=2) * 10

C:\Users\Aatman\AppData\Local\Temp\ipykernel_8544\2166862559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthDf['Toxicity'] = monthDf['Toxicity'].round(decimals=2) * 10

In [70]:
monthDf['Toxicity'] = (monthDf['Toxicity'].apply(np.ceil)) / 10

C:\Users\Aatman\AppData\Local\Temp\ipykernel_8544\95051009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthDf['Toxicity'] = (monthDf['Toxicity'].apply(np.ceil)) / 10

In [71]:
monthDf.head()

             screen_name  Toxicity  Severe Toxicity month
3282032      megandgreer       0.1         0.001688    01
1421758  ObamaWhiteHouse       0.1         0.001383    01
1421757  ObamaWhiteHouse       0.1         0.001011    01
1421756  ObamaWhiteHouse       0.1         0.001497    01
1421755  ObamaWhiteHouse       0.1         0.001140    01

In [72]:
monthDf['Toxicity'].sum().round(2)

4914.1